@{
    ViewData["Title"] = "Brent Newbury - About";
}
            <h2 class="Green">Get to know more about me.</h2>
            <img src="~/img/Leic.jpg" cdn-uri="//brentnewbury-cdn.azureedge.net/" cdn-append-version="true" title="This is Leicester" alt="Map of Leicester" class="Right" height="105" width="105" />
            <p>I live and work in <a href="http://www.bing.com/maps/?q=leicester%2cuk" rel="nofollow" title="Where's Leicester?" target="_blank">Leicester, UK</a> as a Software Architect for an <abbr title="Independant Software Vendor">ISV</abbr> specialising in document management, document distribution, and credit management software.</p>
            <p>My responsibilities include cloud solution architecture, <abbr title="User Interface">UI</abbr> design for client and mobile applications, feature development, sometimes bug fixing, source control management, build management, and anything else that's thrown my way.</p>
            <p>I've worked with some talented people who have helped drive a passion for software development, and being part of a creative and productive team.</p>
            <h3>The future</h3>
            <p>Software looks set to move into the cloud, or be backed by cloud services and storage. Developing for the cloud brings exciting new challenges for people like me.</p>
            <h3>Downtime</h3>
            <p>When I'm not at work or developing for fun, I'll be cooking, playing games, spending time with friends, or watching a few episodes of my favourite TV shows.</p>