@{
    ViewData["Title"] = "Brent Newbury - Contact";
}
            <h2 class="Orange">Get in touch and say Hi.</h2>
            <p>Why not drop me a line and say Hi? I'd be happy to hear from you regarding almost anything, really.</p>
            <ul id="ContactMethods" role="menu">
                <li role="menuitem"><a href="mailto:brent@brentnewbury.com?subject=Hi%20Brent!" class="ContactSprite Email" rel="me nofollow" title="Say 'Hi' the old fashioned way.">brent@brentnewbury.com</a></li>
                <li role="menuitem"><a href="https://twitter.com/BrentNewbury" class="ContactSprite Twitter" rel="me nofollow" title="Tweet me, tweetie-bird!">@@brentnewbury</a></li>
                <li role="menuitem"><a href="https://plus.google.com/+BrentNewbury/" class="ContactSprite GooglePlus" rel="me nofollow" title="Do people actually use Google+?">+BrentNewbury</a></li>
                <li role="menuitem"><a href="http://uk.linkedin.com/in/brentnewbury/" class="ContactSprite LinkedIn" rel="me nofollow" title="Serious business for serious people.">LinkedIn profile</a></li>
            </ul>