@{
    ViewData["Title"] = "Brent Newbury - Error";
}
<h2>Oops, something went wrong.</h2>
<p>I'm not sure what happened, but it wasn't supposed to happen.</p>
<p>Try one of the following locations to see if the problem fixes itself:</p>
<ul id="ErrorLocations">
    <li><a asp-controller="Home" asp-action="Index" class="Blue">Home</a></li>
    <li><a asp-controller="Home" asp-action="About" class="Green">About</a></li>
    <li><a asp-controller="Home" asp-action="Contact" class="Orange">Contact</a></li>
</ul>