@{
    ViewData["Title"] = "Brent Newbury";

    var yearsExperience = DateTime.UtcNow.Date.Year - 2006;
    if (DateTime.UtcNow.Date.Month < 9)
    { yearsExperience--; }
}
            <h2>Hi, I'm Brent and I'm a developer.</h2>
            <img src="~/img/Me.jpg" title="That's me!" alt="Me" class="Right" height="110" width="110" />
            <p>For the past @yearsExperience or so years I've been creating rich client applications, client services, web services, and other exciting things that help people get their work done.</p>
            <p>Most of my experience is based around Microsoft technologies; C#.NET, Azure, ASP.NET Web API, WinForms, <abbr title="Windows Presentation Foundation">WPF</abbr>, Windows Services, <abbr title="Windows Communication Foundation">WCF</abbr>, SQL Server&hellip; you get the idea.</p>
            <p>I get a kick out of building software that makes people happy&hellip; and peach ice tea &ndash; I love peach ice tea. Simple and easy to use software is something everybody loves.</p>
            <p>Come and <a  class="Green">get to know more about me</a> or <a href="/Contact" class="Orange">get in touch and say Hi</a>.</p>